$primary = hsl(219, 88%, 55%);
$danger = hsl(0, 88%, 55%);
$success = hsl(115, 57%, 51%);
$bg = hsl(0, 0%, 98%);
$bg-dark = hsl(240, 5%, 7%);
$primary-text = lighten($primary, 7);
$danger-text = lighten($danger, 7);
$success-text = lighten($success, 7);
:root {
    --primary: $primary;
    --danger: $danger;
    --success: $success;
    --ui-radius: 0.6rem;
}