@import '../../../styles/variables.styl';

.form-control {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-parent {
    flex-grow: 1;
    position: relative;
}

.form-control input {
    transition: all 0.1s;
}

.input {
    border: solid;
    display: block;
    padding: 0.625rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: rgb(17 24 39);
    width: 100%;
    border-radius: var(--ui-radius);
    border-color: #D1D5DB;
    height: 2.25rem;
    margin: 0;
    font-weight: 600;
    border-width: 1.5px;

    &.input-ghost {
        border-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        &:hover {
            background-color: darken(@background-color, 1);
        }

        &:focus {
            background-color: @background-color;
        }
    }

    html:not(.dark) .card &.input-ghost:hover:not(:focus) {
        background-color: darken($bg, 10);
    }

    &:hover:not(:focus):not(.input-ghost) {
        border-color: darken(@border-color, 15);
    }

    &:focus, &:focus-visible {
        outline: none;
        border-color: $primary;
        box-shadow: 0 0 0 3px lighten($primary, 25);
    }
}

.card .input-ghost:not(.dark) {
    background-color: darken($bg, 5);
}

.dark .input, .dark .card .input {
    background-color: lighten($bg-dark, 5);
    color: white;

    &:not(.input-ghost) {
        border-color: lighten(@background-color, 12);
    }

    &:hover:not(:focus):not(.input-ghost) {
        background-color: @background-color;
        border-color: lighten(@background-color, 20);
    }

    &:hover {
        background-color: darken(@background-color, 1);
    }

    &:focus {
        background-color: @background-color;
    }

    &:focus, &:focus-visible {
        outline: none;
        border-color: darken($primary, 15);
        box-shadow: 0 0 0 3px darken($primary, 5);
    }
}

.label .label-text {
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}

.input.input-squircle {
    border-radius: 12px;
}

.input.input-circle {
    border-radius: 5rem;
}

.input-prepend .icon {
    padding-right: 5px;
    display: block;
}

.input-append .icon {
    padding-left: 5px;
    display: block;
}

.input-inner-prepend:not(:empty) {
    position: absolute;
    bottom: 2px;
    left: 5px;
    width: 24px;
    height: 24px;
}

.input-inner-prepend:not(:empty) ~ input {
    padding-left: 28px;
}

.input-inner-append:not(:empty) {
    width: max-content;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 30px;
    right: 5px;
}

.input-inner-append:not(:empty) ~ input {
    padding-right: 35px;
}

.label {
    float: left;
}

.card .input-ghost:not(:focus) {
    box-shadow: none;
}
