@import '../../../styles/variables.styl';

.b-sidebar {
    height: 100%;
}

.b-sidebar .card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0;
}

.b-sidebar .card-text {
    height: max-content;
    flex-grow: 1;
}

.b-sidebar .card-footer {
    padding-bottom: 20px;
}