@import '../../../styles/variables.styl';

.dark {
  $success = #44bd32;

  .btn {
    background-color: #3C3C3C;
    color: white;
    border: none;

    &.btn-primary {
      background-color: $primary;
      color: #ffffff;

      &:hover {
        background-color: darken(@background-color, 5);
      }

      &:active {
        background-color: darken(@background-color, 10);
      }

      &:focus {
        box-shadow: 0 0 0 4px darken(@background-color, 25);
      }
    }

    &.btn-danger {
      background-color: $danger;
      color: #ffffff;

      &:hover {
        background-color: darken(@background-color, 5);
      }

      &:active {
        background-color: darken(@background-color, 10);
      }

      &:focus {
        box-shadow: 0 0 0 4px darken(@background-color, 25);
      }
    }

    &.btn-success {
      background-color: $success;
      color: #ffffff;

      &:hover {
        background-color: lighten(@background-color, 5);
      }

      &:active {
        background-color: darken(@background-color, 10);
      }

      &:focus {
        box-shadow: 0 0 0 4px darken(@background-color, 25);
      }
    }

    &.btn-secondary {
      background-color: #3C3C3C;
      color: rgb(138 180 248);

      &:hover {
        background-color: lighten(@background-color, 5);
      }

      &:active {
        background-color: lighten(@background-color, 15);
      }

      &:focus {
        // border-color: @color, darken($primary, 25);
        box-shadow: 0 0 0 4px darken(@color, 25);
      }
    }

    &.btn-outline {
      background-color: #29292a;
      color: white;
      border: solid 2px;
      border-color: #484848;

      &:hover {
        background-color: lighten(@background-color, 5);
      }

      &.btn-primary {
        color: $primary;
        box-shadow: none;
        border-color: @color;

        &:hover {
          background-color: $primary;
          color: white;
        }

        &:focus {
          box-shadow: 0 0 0 4px darken($primary, 25);
        }

        &:active {
          background-color: darken($primary, 10);
        }
      }

      &.btn-danger {
        color: $danger;
        box-shadow: none;
        border-color: @color;

        &:hover {
          color: white;
          background-color: $danger;
        }

        &:focus {
          box-shadow: 0 0 0 4px darken($danger, 25);
          background-color: $danger;
          color: white;
        }

        &:active {
          background-color: darken($danger, 10);
        }
      }

      &.btn-success {
        color: $success;
        box-shadow: none;
        border-color: @color;

        &:hover {
          background-color: $success;
          color: white;
        }

        &:focus {
          box-shadow: 0 0 0 4px darken($success, 25);
        }

        &:active {
          background-color: darken($success, 10);
        }
      }

      &.btn-secondary {
        &:focus {
          color: $primary;
          // Made a fake border so that the button's width doesn't change on focus
          border: 2px solid transparent;
        }
      }
    }

    &:hover {
      background-color: lighten(@background-color, 5);
    }

    &:active {
      background-color: darken(@background-color, 5);
    }

    &:focus {
      box-shadow: 0 0 0 4px #282828;
      outline: 2px solid transparent !important;
      outline-offset: 2px !important;
    }

    &.btn-ghost {
      border: none;
      color: white;
      background-color: transparent;
      box-shadow: none;

      &:hover {
        background-color: lighten($bg-dark, 15);
      }

      &:focus {
        background-color: lighten(@background-color, 15);
        box-shadow: 0 0 0 4px #282828;
      }

      &:active {
        background-color: lighten($bg-dark, 8);
      }

      &.btn-primary {
        color: $primary;

        &:hover {
          background-color: alpha($primary, 0.25);
        }

        &:focus {
          background-color: $primary;
          color: white;
          box-shadow: 0 0 0 4px darken(@background-color, 25);
        }
      }

      &.btn-danger {
        color: $danger;

        &:hover {
          background-color: alpha($danger, 0.25);
        }

        &:focus {
          background-color: $danger;
          color: white;
          box-shadow: 0 0 0 4px darken(@background-color, 25);
        }
      }

      &.btn-success {
        color: $success;

        &:hover {
          background-color: alpha($success, 0.25);
        }

        &:focus {
          background-color: $success;
          color: white;
          box-shadow: 0 0 0 4px darken(@background-color, 25);
          outline: 2px solid transparent !important;
          outline-offset: 2px !important;
        }
      }

      &.btn-secondary {
        color: white;

        &:hover {
          color: $primary;
          background-color: lighten($bg-dark, 15);
        }

        &:focus {
          box-shadow: 0 0 0 4px darken(@background-color, 25);
        }
      }
    }

    &.btn-ripple {
      &:focus:not(.btn-focus-border) {
        box-shadow: none;
      }
    }

    &.btn-bounce {
      transition: transform 0.25s;

      &:not(.btn-focus-border) {
        box-shadow: none;

        &:focus {
          box-shadow: none;
        }
      }

      &:active {
        transform: scale(0.85);
      }
    }

    &.btn-glass {
      background-color: #1a1a1a78;
      backdrop-filter: blur(10px);
      border: none;
    }
  }
}

.btn {
  position: relative;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  background-color: #fff;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  color: #131313;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  border-radius: var(--ui-radius);
  width: max-content;
  cursor: pointer;
  border: 1px solid #c1ccd9;
  user-select: none;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;

  &:hover {
    background-color: darken(@background-color, 5);
    transition-duration: 0.1s;
  }

  &:active {
    background-color: darken(@background-color, 10);
  }

  &:focus {
    box-shadow: 0 0 0 4px lighten(#5e5e5e, 50);
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }

  &.btn-primary {
    background-color: $primary;
    color: #ffffff;
    border-color: $primary;

    &:hover {
      background-color: darken(@background-color, 5);
    }

    &:active {
      background-color: darken(@background-color, 10);
    }

    &:focus {
      box-shadow: 0 0 0 4px lighten(@background-color, 25);
    }
  }

  &.btn-danger {
    background-color: $danger;
    color: #ffffff;
    border-color: $danger;

    &:hover {
      background-color: darken(@background-color, 5);
    }

    &:active {
      background-color: darken(@background-color, 10);
    }

    &:focus {
      box-shadow: 0 0 0 4px lighten(@background-color, 25);
    }
  }

  &.btn-success {
    background-color: $success;
    color: #ffffff;
    border-color: $success;

    &:hover {
      background-color: darken(@background-color, 5);
    }

    &:active {
      background-color: darken(@background-color, 10);
    }

    &:focus {
      box-shadow: 0 0 0 4px lighten(@background-color, 25);
    }
  }

  &.btn-secondary {
    background-color: #fff;
    color: rgb(26, 86, 219);

    &:hover {
      background-color: darken(@background-color, 5);
    }

    &:active {
      background-color: darken(@background-color, 10);
    }

    &:focus {
      border-color: @color, darken(@background-color, 25);
      box-shadow: 0 0 0 4px #c7d2fe;
    }
  }

  &.btn-outline {
    background-color: white;
    color: #131313;
    border: solid 2px;
    border-color: #c1ccd9;

    &:hover {
      background-color: darken(@background-color, 5);
    }

    &.btn-primary {
      color: $primary;
      box-shadow: #e4e7eb 0 1px 1px;
      border-color: @color;

      &:hover {
        background-color: $primary;
        color: white;
      }

      &:focus {
        box-shadow: 0 0 0 4px lighten($primary, 25);
      }

      &:active {
        background-color: darken($primary, 10);
      }
    }

    &.btn-danger {
      color: $danger;
      box-shadow: #e4e7eb 0 1px 1px;
      border-color: @color;

      &:hover {
        color: white;
        background-color: $danger;
      }

      &:focus {
        box-shadow: 0 0 0 4px lighten($danger, 25);
      }

      &:active {
        background-color: darken($danger, 10);
      }
    }

    &.btn-success {
      color: $success;
      box-shadow: #e4e7eb 0 1px 1px;
      border-color: @color;

      &:hover {
        background-color: $success;
        color: white;
      }

      &:focus {
        box-shadow: 0 0 0 4px lighten($success, 25);
      }

      &:active {
        background-color: darken($success, 10);
      }
    }

    &.btn-secondary {
      &:focus {
        color: $primary;
        border: 2px solid #c1ccd9;
      }
    }
  }

  &.btn-ghost {
    border: none;
    color: #131313;
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: darken(#fff, 7);
    }

    &:focus {
      background-color: darken(#fff, 10);
      box-shadow: 0 0 0 4px lighten(#5e5e5e, 50);
    }

    &:active {
      background-color: darken(#fff, 8);
    }

    &.btn-primary {
      color: $primary;

      &:hover {
        background-color: lighten($primary, 40);
      }

      &:focus {
        background-color: $primary;
        color: white;
        box-shadow: 0 0 0 4px lighten($primary, 25);
      }
    }

    &.btn-danger {
      color: $danger;

      &:hover {
        background-color: alpha($danger, 0.25);
      }

      &:focus {
        background-color: $danger;
        color: white;
        box-shadow: 0 0 0 4px lighten($danger, 25);
      }
    }

    &.btn-success {
      color: $success;

      &:hover {
        background-color: lighten($success, 40);
      }

      &:focus {
        background-color: $success;
        color: white;
        box-shadow: 0 0 0 4px lighten($success, 25);
      }
    }

    &.btn-secondary {
      &:hover {
        color: $primary;
      }
    }
  }

  &.btn-bounce {
    transition: transform 0.25s;

    &:not(.btn-focus-border) {
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }

    &:active {
      transform: scale(0.85);
    }
  }

  &.btn-ripple {
    &:focus:not(.btn-focus-border) {
      box-shadow: none;
    }
  }

  &.btn-glass {
    background-color: #1a1a1a78;
    backdrop-filter: blur(10px);
    border: none;
  }
}

.btn-large {
  transform: scale(1.25);
}

.btn-medium {
  transform: scale(0.9);
}

.btn-small {
  transform: scale(0.85);
}

.btn-tiny {
  transform: scale(0.7);
}

.btn-squircle {
  border-radius: 12px;
}

.btn-circle {
  border-radius: 5rem;
}

.btn-block {
  width: 100%;
}

[data-ripple] {
  position: relative;
}

[data-ripple] .ripple-pad {
  background: hsla(0, 0%, 97%, 0.5);
  position: absolute;
  opacity: 1;
  transform: scale(0);
  animation: RippleEffect 900ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes RippleEffect {
  to {
    transform: scale(1);
    opacity: 0;
  }
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.btn-icon {
  padding: 10px;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #b9b9b9;
  color: #444444;
}

.btn .icon i, .btn .icon span {
  font-size: 20px;
}